CREATE TABLE {{ prefix }}__llm_example_wide AS
{% for table_name in table_names %}
SELECT  DISTINCT
        nlp.note_ref,
        nlp.encounter_ref,
        nlp.subject_ref,
        '{{ table_name }}' AS origin,
        nlp.generated_on AS generated_on,
        nlp.task_version AS task_version,
        nlp.system_fingerprint AS system_fingerprint,
        rx.rx_status.rx_status,
        rx.rx_start_date.rx_start_date,
        rx.rx_start_date.rx_start_date_precision
FROM    {{ table_name }} AS nlp
CROSS   JOIN UNNEST(nlp.result.rx_annotations) AS t(rx)
{% if not loop.last %}UNION ALL{% endif %}
{%- endfor %}
;
